
h1= title

p
  a(class='button', href='/upload/') upload new file
ul
  - for (var u in mp3s)
    li
      a(class='button', href='/download/' + mp3s[u].name + '___' + mp3s[u].sha1) #{mp3s[u].name} (#{mp3s[u].date})

