.page
  h2 Upload Music

  p
    a(class='button', href='/mp3s/') view uploaded mp3s

  form(id='file_upload',action='/upload',method='POST',enctype='multipart/form-data')
    input(type='file', name='file[]', multiple)

    button Upload

    div.file_upload_label Upload files

  table(id='files')


