.page
  h2 Upload Music

  form.users(method='post', action='/upload')
    div
      label name:
      input(name='upload[name]', value=upload.name || '')

    div
      input(type='submit', value='upload it')

  form(id='file_upload',action='/upload',method='POST',enctype='multipart/form-data')
    input(type='file', name='file[]', multiple)

    button Upload

    div.file_upload_label Upload files

  table(id='files')


